.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.game-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
}

.game-grid-item-content {
  text-align: center;
}

.game-grid-item-content img {
  width: 75%;
  height: 15rem;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.game-grid-item-content .p-rating {
  margin: 0 0 0.5rem 0;
}

.game-name {
  font-size: 1.5rem;
  font-weight: 700;
}
