<div class="card">
  <p-dataView [value]="games" [paginator]="true" [rows]="6" layout="grid">
    <ng-template let-game pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="game-grid-item card">
          <div class="game-grid-item-content">
            <img *ngIf="game.background_image" [src]="game.background_image" [alt]="game.name" />
            <p *ngIf="!game.background_image">No image</p>
            <p-knob [(ngModel)]="game.metacritic" [size]="75"></p-knob>
            <div class="game-name">{{ game.name }}</div>
            <p-rating [ngModel]="game.rating" [readonly]="true" [cancel]="false"></p-rating>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
